In [2]:
import pandas as pd             
import matplotlib.pyplot as plt  
import datetime as dt           
import seaborn as sns
from numpy.polynomial.polynomial import polyfit
import matplotlib.gridspec as gridspec
import numpy as np
import matplotlib as mpl
mpl.rcParams.update(mpl.rcParamsDefault)
import math
import os                       
import requests, io              
import zipfile as zf             
import shutil                   
import statsmodels.formula.api as smf
%matplotlib inline

In [71]:
path_world_covid = '/Users/jarrodhoran/Downloads/COVID-19-geographic-disbtribution-worldwide.csv'
world_covid = pd.read_csv(path_world_covid)
world_covid['dateRep'] = pd.to_datetime(world_covid['dateRep'])
world_covid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-10-27,27,10,2020,199,8,Afghanistan,AF,AFG,38041757.0,Asia,2.902074
1,2020-10-26,26,10,2020,65,3,Afghanistan,AF,AFG,38041757.0,Asia,2.718066
2,2020-10-25,25,10,2020,81,4,Afghanistan,AF,AFG,38041757.0,Asia,2.799555
3,2020-10-24,24,10,2020,61,2,Afghanistan,AF,AFG,38041757.0,Asia,2.586631
4,2020-10-23,23,10,2020,116,4,Afghanistan,AF,AFG,38041757.0,Asia,2.452568
...,...,...,...,...,...,...,...,...,...,...,...,...
51678,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
51679,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
51680,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
51681,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
51682,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [76]:
world_covid['geoId'].nunique()
world_covid['countriesAndTerritories'].nunique()

212

In [69]:
path_us_counties = '/Users/jarrodhoran/Downloads/us-counties.csv'
us_counties = pd.read_csv(path_us_counties)
us_counties

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1       0
1       2020-01-22   Snohomish  Washington  53061.0      1       0
2       2020-01-23   Snohomish  Washington  53061.0      1       0
3       2020-01-24        Cook    Illinois  17031.0      1       0
4       2020-01-24   Snohomish  Washington  53061.0      1       0
...            ...         ...         ...      ...    ...     ...
725776  2020-11-12  Sweetwater     Wyoming  56037.0    944       4
725777  2020-11-12       Teton     Wyoming  56039.0   1066       2
725778  2020-11-12       Uinta     Wyoming  56041.0    664       4
725779  2020-11-12    Washakie     Wyoming  56043.0    202       7
725780  2020-11-12      Weston     Wyoming  56045.0    321       0

[725781 rows x 6 columns]

In [42]:
path_netflix = '/Users/jarrodhoran/Downloads/Netflix.csv'
netflix = pd.read_csv(path_netflix).tail(365)
netflix['Date'] = pd.to_datetime(netflix['Date'])
netflix = netflix[netflix['Date'].dt.year == 2020]
#pd.reset_option('display.max_rows', None)
#pd.set_option('display.max_rows', None)
netflix

,Date,Open,High,Low,Close,Adj Close,Volume
4433,2020-01-02,326.100006,329.980011,324.779999,329.809998,329.809998,4485800
4434,2020-01-03,326.779999,329.859985,325.529999,325.899994,325.899994,3806900
4435,2020-01-06,323.119995,336.359985,321.200012,335.829987,335.829987,5663100
4436,2020-01-07,336.470001,336.700012,330.299988,330.750000,330.750000,4703200
4437,2020-01-08,331.489990,342.700012,331.049988,339.260010,339.260010,7104500
...,...,...,...,...,...,...,...
4576,2020-07-28,496.019989,497.790009,487.760010,488.510010,488.510010,5986700
4577,2020-07-29,492.250000,494.920013,484.130005,484.480011,484.480011,6611800
4578,2020-07-30,480.709991,488.350006,477.510010,485.799988,485.799988,6608600
4579,2020-07-31,488.290009,494.799988,484.500000,488.880005,488.880005,5924300
4580,2020-08-03,490.859985,503.089996,490.230011,498.619995,498.619995,5873100

In [41]:
path_amazon = '/Users/jarrodhoran/Downloads/Amazon.csv'
amazon = pd.read_csv(path_amazon).tail(365)
amazon['Date'] = pd.to_datetime(amazon['Date'])
amazon = amazon[amazon['Date'].dt.year == 2020]
#pd.reset_option('display.max_rows', None)
amazon

,Date,Open,High,Low,Close,Adj Close,Volume
5695,2020-01-02,1875.000000,1898.010010,1864.150024,1898.010010,1898.010010,4029000
5696,2020-01-03,1864.500000,1886.199951,1864.500000,1874.969971,1874.969971,3764400
5697,2020-01-06,1860.000000,1903.689941,1860.000000,1902.880005,1902.880005,4061800
5698,2020-01-07,1904.500000,1913.890015,1892.040039,1906.859985,1906.859985,4044900
5699,2020-01-08,1898.040039,1911.000000,1886.439941,1891.969971,1891.969971,3508000
...,...,...,...,...,...,...,...
5847,2020-08-10,3170.310059,3172.510010,3101.520020,3148.159912,3148.159912,3167300
5848,2020-08-11,3113.199951,3159.219971,3073.000000,3080.669922,3080.669922,3718100
5849,2020-08-12,3108.000000,3174.389893,3101.419922,3162.239990,3162.239990,3527200
5850,2020-08-13,3182.989990,3217.520020,3155.000000,3161.020020,3161.020020,3149000
5851,2020-08-14,3178.179932,3178.239990,3120.000000,3148.020020,3148.020020,2749200

In [18]:
path_google = '/Users/jarrodhoran/Downloads/Google.csv'
google = pd.read_csv(path_google).tail(365)
google['Date'] = pd.to_datetime(google['Date'])
google = google[google['Date'].dt.year == 2020]
#pd.reset_option('display.max_rows', None)
google

,Date,Open,High,Low,Close,Adj Close,Volume
3869,2020-01-02,1348.410034,1368.680054,1346.489990,1368.680054,1368.680054,1363900
3870,2020-01-03,1348.000000,1373.750000,1347.319946,1361.520020,1361.520020,1170400
3871,2020-01-06,1351.630005,1398.319946,1351.000000,1397.810059,1397.810059,2338400
3872,2020-01-07,1400.459961,1403.500000,1391.560059,1395.109985,1395.109985,1716500
3873,2020-01-08,1394.819946,1411.849976,1392.630005,1405.040039,1405.040039,1765700
...,...,...,...,...,...,...,...
4036,2020-08-31,1643.569946,1644.500000,1625.329956,1629.530029,1629.530029,1321100
4037,2020-09-01,1632.160034,1659.219971,1629.530029,1655.079956,1655.079956,1133800
4038,2020-09-02,1668.010010,1726.099976,1660.189941,1717.390015,1717.390015,2476100
4039,2020-09-03,1699.520020,1700.000000,1607.709961,1629.510010,1629.510010,3180200
4040,2020-09-04,1609.000000,1634.989990,1537.970093,1581.209961,1581.209961,2792533

In [21]:
path_apple = '/Users/jarrodhoran/Downloads/Apple.csv'
apple = pd.read_csv(path_apple).tail(365)
apple['Date'] = pd.to_datetime(apple['Date'])
apple = apple[apple['Date'].dt.year == 2020]
#pd.reset_option('display.max_rows', None)
apple

,Date,Open,High,Low,Close,Adj Close,Volume
9847,2020-01-02,74.059998,75.150002,73.797501,75.087502,74.573036,135480400.0
9848,2020-01-03,74.287498,75.144997,74.125000,74.357498,73.848030,146322800.0
9849,2020-01-06,73.447502,74.989998,73.187500,74.949997,74.436470,118387200.0
9850,2020-01-07,74.959999,75.224998,74.370003,74.597504,74.086395,108872000.0
9851,2020-01-08,74.290001,76.110001,74.290001,75.797501,75.278160,132079200.0
...,...,...,...,...,...,...,...
10011,2020-08-26,126.180000,126.992500,125.082497,126.522499,126.522499,163022400.0
10012,2020-08-27,127.142502,127.485001,123.832497,125.010002,125.010002,155552400.0
10013,2020-08-28,126.012497,126.442497,124.577499,124.807503,124.807503,187630000.0
10014,2020-08-31,127.580002,131.000000,126.000000,129.039993,129.039993,225702700.0
10015,2020-09-01,132.759995,134.800003,130.529999,134.179993,134.179993,151948100.0

In [24]:
path_facebook = '/Users/jarrodhoran/Downloads/Facebook.csv'
facebook = pd.read_csv(path_facebook).tail(365)
facebook = facebook
facebook['Date'] = pd.to_datetime(facebook['Date'])
facebook = facebook[facebook['Date'].dt.year == 2020]
#pd.reset_option('display.max_rows', None)
facebook

,Date,Open,High,Low,Close,Adj Close,Volume
1917,2020-01-02,206.750000,209.789993,206.270004,209.779999,209.779999,12077100
1918,2020-01-03,207.210007,210.399994,206.949997,208.669998,208.669998,11188400
1919,2020-01-06,206.699997,212.779999,206.520004,212.600006,212.600006,17058900
1920,2020-01-07,212.820007,214.580002,211.750000,213.059998,213.059998,14912400
1921,2020-01-08,213.000000,216.240005,212.610001,215.220001,215.220001,13475000
...,...,...,...,...,...,...,...
2071,2020-08-12,258.970001,263.899994,258.109985,259.890015,259.890015,21428300
2072,2020-08-13,261.549988,265.160004,259.570007,261.299988,261.299988,17374000
2073,2020-08-14,262.309998,262.649994,258.679993,261.239990,261.239990,14792700
2074,2020-08-17,262.500000,264.100006,259.399994,261.160004,261.160004,13351100
2075,2020-08-18,260.950012,265.149994,259.260010,262.339996,262.339996,18677500

In [44]:
path_usd_adv_econ = '/Users/jarrodhoran/Downloads/DTWEXAFEGS.csv'
usd_adv_econ = pd.read_csv(path_usd_adv_econ)
usd_adv_econ['DATE'] = pd.to_datetime(usd_adv_econ['DATE'])
usd_adv_econ = usd_adv_econ[usd_adv_econ['DATE'].dt.year == 2020]
#pd.reset_option('display.max_rows', None)
usd_adv_econ

          DATE DTWEXAFEGS
431 2020-01-01          .
432 2020-01-02   109.0416
433 2020-01-03   108.9542
434 2020-01-06   108.8501
435 2020-01-07   109.2669
..         ...        ...
649 2020-11-02   107.2156
650 2020-11-03   106.3411
651 2020-11-04   106.2544
652 2020-11-05    105.579
653 2020-11-06   105.1289

[223 rows x 2 columns]

In [38]:
path_usd_em_econ = '/Users/jarrodhoran/Downloads/DTWEXEMEGS.csv'
usd_em_econ = pd.read_csv(path_usd_em_econ)
usd_em_econ['DATE'] = pd.to_datetime(usd_em_econ['DATE'])
usd_em_econ = usd_em_econ[usd_em_econ['DATE'].dt.year == 2020]
usd_em_econ

           DATE DTWEXEMEGS
1083 2020-01-01          .
1084 2020-01-02   122.4779
1085 2020-01-03   122.5971
1086 2020-01-06   122.6484
1087 2020-01-07   122.5941
...         ...        ...
1301 2020-11-02   127.8268
1302 2020-11-03   127.1803
1303 2020-11-04   126.5763
1304 2020-11-05   125.7906
1305 2020-11-06   125.3086

[223 rows x 2 columns]

In [40]:
path_usd_rmb = '/Users/jarrodhoran/Downloads/DEXCHUS.csv'
usd_rmb = pd.read_csv(path_usd_rmb)
usd_rmb['DATE'] = pd.to_datetime(usd_rmb['DATE'])
usd_rmb = usd_rmb[usd_rmb['DATE'].dt.year == 2020]
usd_rmb

           DATE DEXCHUS
1083 2020-01-01       .
1084 2020-01-02  6.9642
1085 2020-01-03  6.9649
1086 2020-01-06  6.9749
1087 2020-01-07  6.9443
...         ...     ...
1301 2020-11-02  6.6899
1302 2020-11-03  6.6759
1303 2020-11-04  6.6504
1304 2020-11-05  6.6027
1305 2020-11-06   6.608

[223 rows x 2 columns]